/*comentar en secciones el use de las variables e importarlo aca como primero*/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

a {
  background-color: transparent; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

.sectorlogo {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.pulseralogo {
  width: 40%; }

.headerpb {
  text-transform: uppercase; }

.sectorlogo {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.nombrepb {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5fr, 1fr));
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-style: solid;
  text-transform: uppercase;
  padding: 2% 10%;
  margin-left: 10%;
  margin-right: 10%; }

.btn-group {
  display: flex;
  place-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto; }

.dropdown-toggle {
  font-size: 1.6rem; }

.documentoentero {
  background-color: lightsteelblue; }

.pblogo {
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pulseralogo {
  width: 40%; }

.nombrepb {
  font-size: 2rem; }

.btn-group {
  margin: 0 auto; }

@media screen and (max-width: 572px) {
  .pulseralogo {
    visibility: hidden; }
  .pblogo {
    width: 60%;
    height: auto; }
  .nombrepb {
    font-size: 1rem; }
  .btn-group {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20%; } }

@use "../variables/variables";
.imagenpropaganda {
  width: 100%; }

.sectioncollar {
  position: relative;
  display: inline-block;
  text-align: center; }

.fotocategoriacollar {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%; }

.anillosheader {
  width: 95%;
  height: auto;
  padding: 5% 9% 9% 5%; }

.fotoquirurgico {
  width: 250px;
  margin-left: 15px;
  height: 200px;
  margin: 0 auto; }

@use "../variables/variables";
.lapropaganda {
  padding: 2%; }

.cuerpocolumna {
  width: 100%; }

.todocategoria {
  padding: 2%; }

.propaganda {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;
  height: auto; }

.textopropaganda {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.1rem;
  color: rgba(255, 255, 255, 0.836);
  font-weight: bold;
  text-shadow: black; }

.textocollar {
  border: 10px solid white;
  background-color: white;
  text-decoration: none;
  color: black;
  size: 1.15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem; }

.textoanillos {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding: 10px 30px;
  color: black;
  font-weight: bold;
  text-transform: uppercase; }

.aceroquirurgico {
  width: 88%;
  margin: 0 auto; }

.anillosquirurgico {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center; }

.textoquirurgico {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 10px 30px;
  color: black; }

.consultaquirurgico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5%;
  text-decoration: none;
  color: black;
  font-weight: bold; }

.cuadroderecha {
  display: grid; }

.cuadroizquierda {
  display: grid; }

@media screen and (max-width: 992px) {
  .textopropaganda {
    font-size: 1rem; } }

@media screen and (max-width: 572px) {
  .textopropaganda {
    font-size: 1rem; } }

.aceroquirurgico {
  flex-direction: column;
  align-content: center; }

@use "../variables/variables";
.fotologowpp {
  width: 5%;
  position: fixed;
  bottom: 2%;
  right: 2%; }

.fotologowpp {
  animation-name: nombre;
  animation-iteration-count: infinite;
  animation-duration: 4s; }

@keyframes nombre {
  0% {
    width: 5%; }
  50% {
    width: 7%; }
  100% {
    width: 5%; } }

@use "../variables/variables";
.piedepagina {
  text-align: center; }

.tituloformulario {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2.1rem; }

.nombre12 {
  transition: width 1s; }

.nombre12:hover {
  width: 300px;
  background-color: aliceblue; }

@media screen and (max-width: 992px) {
  .fotologowpp {
    width: 9%;
    position: fixed;
    bottom: 2%;
    right: 2%; }
  .fotologowpp {
    animation-name: nombre;
    animation-iteration-count: infinite;
    animation-duration: 4s; }
  @keyframes nombre {
    0% {
      width: 9%; }
    50% {
      width: 12%; }
    100% {
      width: 9%; } } }

@media screen and (max-width: 572px) {
  .fotologowpp {
    width: 9%;
    position: fixed;
    bottom: 2%;
    right: 2%; }
  .fotologowpp {
    animation-name: nombre;
    animation-iteration-count: infinite;
    animation-duration: 4s; }
  @keyframes nombre {
    0% {
      width: 9%; }
    50% {
      width: 12%; }
    100% {
      width: 9%; } } }
