@use "generico/normalize";
@use "generico/media";
@use "header/fotos";
@use "header/texto";
@use "header/media";
@use "banner/foto";
@use "banner/texto";
@use "banner/media";
@use "cuerpo/foto";
@use "cuerpo/texto";
@use "cuerpo/media";
@use "footer/foto";
@use "footer/texto";
@use "footer/media";
.grid {
  display: grid; }

.cuerpo12 {
  grid-template-columns: repeat(1, 1fr); }

.cuerpo11 {
  grid-template-columns: repeat(1.09, 1fr); }

.cuerpo10 {
  grid-template-columns: repeat(1.2, 1fr); }

.cuerpo9 {
  grid-template-columns: repeat(1.33, 1fr); }

.cuerpo8 {
  grid-template-columns: repeat(1.5, 1fr); }

.cuerpo7 {
  grid-template-columns: repeat(1.71, 1fr); }

.cuerpo6 {
  grid-template-columns: repeat(2, 1fr); }

.cuerpo5 {
  grid-template-columns: repeat(2.4, 1fr); }

.cuerpo4 {
  grid-template-columns: repeat(3, 1fr); }

.cuerpo3 {
  grid-template-columns: repeat(4, 1fr); }

.cuerpo2 {
  grid-template-columns: repeat(6, 1fr); }

.cuerpo1 {
  grid-template-columns: repeat(12, 1fr); }

@media screen and (max-width: 992px) {
  .cuerpo-md-1 {
    grid-template-columns: repeat(0.08333, 1fr); }
  .cuerpo-md-2 {
    grid-template-columns: repeat(0.16667, 1fr); }
  .cuerpo-md-3 {
    grid-template-columns: repeat(0.25, 1fr); }
  .cuerpo-md-4 {
    grid-template-columns: repeat(0.33333, 1fr); }
  .cuerpo-md-5 {
    grid-template-columns: repeat(0.41667, 1fr); }
  .cuerpo-md-6 {
    grid-template-columns: repeat(0.5, 1fr); }
  .cuerpo-md-7 {
    grid-template-columns: repeat(0.58333, 1fr); }
  .cuerpo-md-8 {
    grid-template-columns: repeat(0.66667, 1fr); }
  .cuerpo-md-9 {
    grid-template-columns: repeat(0.75, 1fr); }
  .cuerpo-md-10 {
    grid-template-columns: repeat(0.83333, 1fr); }
  .cuerpo-md-11 {
    grid-template-columns: repeat(0.91667, 1fr); }
  .cuerpo-md-12 {
    grid-template-columns: repeat(1, 1fr); }
  .cat-md-12 {
    grid-template-columns: repeat(1, 1fr); }
  .cat-md-11 {
    grid-template-columns: repeat(1.09, 1fr); }
  .cat-md-10 {
    grid-template-columns: repeat(1.2, 1fr); }
  .cat-md-9 {
    grid-template-columns: repeat(1.33, 1fr); }
  .cat-md-8 {
    grid-template-columns: repeat(1.5, 1fr); }
  .cat-md-7 {
    grid-template-columns: repeat(1.71, 1fr); }
  .cat-md-6 {
    grid-template-columns: repeat(2, 1fr); }
  .ato-md-5 {
    grid-template-columns: repeat(2.4, 1fr); }
  .cat-md-4 {
    grid-template-columns: repeat(3, 1fr); }
  .cat-md-3 {
    grid-template-columns: repeat(4, 1fr); }
  .cat-md-2 {
    grid-template-columns: repeat(6, 1fr); }
  .cat-md-1 {
    grid-template-columns: repeat(12, 1fr); } }
