$max-width: 71.25rem;

// Spacing
$spacing-s: 1rem;
$spacing: 1.6rem;
$spacing-l: 3.25rem;


// colores
$_azulsito: lightsteelblue;
$_blanco: white;
$_negro: black;
$_celestin: aliceblue;
$_propa: rgba(255, 255, 255, 0.836);

$background-document: $_azulsito;
$background-text: $_blanco;
$hover-color: $_celestin;
$words-color: $_negro;
$brilla: $_propa;

// tipografia
$font-family: "Open Sans", sans-serif;

$fs-base: 16;


$fs-propaganda: 2.1rem;
$fs-category: 1rem;
$fs-section: 2rem;
$fs-telefonowpp: 0.95rem;
$fs-nombrepb: 2rem;
$fs-mobil-textopropaganda: 2rem;
$fs-mobile-nombrepb: 2rem;
$fs-descripcion-seccion: 1.6rem;
$fs-texto-info: 1rem;
$fs-tablet-nombrepb: 2rem;
$fs-homecat:1.15rem;

//index
$_z1: 1;
$_z2: 2;
$_z3: 3;
$_z4: 4;
$_z5: 5;
$_z6: 6;
$_z7: 7;
$_z8: 8;
$_z9: 9;
$_z10: 10;

$z-menu: $_z9;