// tablet
@media screen and (max-width: 992px) {
    .textopropaganda {
        font-size: 1rem;
    }
}

//mobile
@media screen and (max-width: 572px) {
    .textopropaganda {
        font-size: 1rem;
    }
}

.aceroquirurgico {
    flex-direction: column;
    align-content: center;

}